<!Doctype HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width"/>
	
		<title>Lista de Convidados</title>
		
		<link th:href="@{/webjars/bootstrap/css/4.1.0/bootstrap.min.css}" rel="stylesheet"/>
		<link th:href="@{/webjars/bootstrap/css/4.1.0/bootstrap-theme.min.css}" rel="stylesheet"/>
	</head>

	<body>
	
		<h1>Listas</h1>
	
	
		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</body>


</html>