<!Doctype HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	
	<title>Lista de Motoristas</title>
	
	<link th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap-theme.min.css}" rel="stylesheet" />
</head>

<body>

	<br>

	<ul class="nav nav-pills nav-fill">

		<li class="nav-item"><a class="nav-link active" href="/motoristas">Motoristas</a></li>

		<li class="nav-item"><a class="nav-link" href="/passageiros">Passageiros</a></li>

		<li class="nav-item"><a class="nav-link" href="/corridas/">Corridas</a></li>

	</ul>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title" align="center">Lista de Motoristas</h3>

			<ul class="nav nav-pills nav-fill">
				<li class="nav-item"><a class="nav-link active" href="/adicionarMotorista">Adicionar Motorista</a></li>
			</ul>

		</div>
		<br>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>#ID</th>
						<th>Nome</th>
						<th>CPF</th>
						<th>Modelo do Carro</th>
						<th>Data de Nascimento</th>
						<th>Sexo</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="motorista : ${motoristas}">
						<td th:text="${motorista.id}"></td>
						<td ><a th:href="@{'/motoristas/alterar/'+${motorista.id}}" th:text="${motorista.nome}"></a></td>
						<td th:text="${motorista.cpf}"></td>
						<td th:text="${motorista.modeloCarro}"></td>
						<td th:text="${motorista.dataNascimento}"></td>
						<td th:text="${motorista.Sexo}"></td>
						<td th:text="${motorista.status}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>


</html>